<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name="Duck Browser">
  <parameter name="type" value="App"/>
  <parameter name="name" value="Duck"/>
 <classes>
 <class name="assigment.DriverScript.DriverScript"/>
 </classes>
  </test>
  <!-- Test -->
</suite> <!-- Suite --> 
